<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) www.ultrapower.com.cn
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="helloBean" class="beans.HelloWorld">
              <property name="name" value="liekkas"/>
       </bean>
</beans>